* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #1d3557;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.btn {
  cursor: pointer;
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 40px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.btn:focus {
  outline: none;
}

.difficulty-container {
  background-color: #101d30;
  width: 100vw;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: 0.3s ease-in-out;
}

label {
  margin-right: 10px;
}

#difficulty {
  background-color: #a8dadc;
  border: none;
  border-radius: 3px;
  padding: 6px 10px;
  width: 140px;
  font-size: 16px;
}

#difficulty:focus {
  outline: none;
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #223f68;
  width: 440px;
  height: 320px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  padding: 20px;
}

h2 {
  background-color: #101d30;
  width: 90%;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.time-score {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instruction {
  margin-top: 30px;
}

#random-word  {
  margin-bottom: 20px;
}

input {
  padding: 10px 20px;
  width: 90%;
  font-size: 16px;
}

input:focus {
  outline: none;
}

#game-over-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

#game-over-overlay h1, p, button {
  margin: 10px;
}

.reload-btn {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.reload-btn:focus {
  outline: none;
}

.hide {
  transform: translateY(0);
  /* transition: transform 0.3s ease-in-out; */
}